project_id       = "<GCP_PROJECT_ID>"
region           = "<GCP_REGION_TO_USE>"
zone             = "<GCP_ZONE_TO_USE>"
credentials_file = "<PATH_TO_GCP_SERVICE_ACCOUNT_FILE>"
machine_type     = "n1-standard-8"
hostname_prefix  = "abm"
instance_names   = {
  "admin" : ["ws"]
  "controlplane" : ["cp1", "cp2", "cp3"]
  "worker" : ["w1", "w2"]
}
