project_id                    = "<GOOGLE_CLOUD_PROJECT_ID>"
region                        = "<GOOGLE_CLOUD_REGION_TO_USE>"
zone                          = "<GOOGLE_CLOUD_ZONE_TO_USE>"
credentials_file              = "<PATH_TO_GOOGLE_CLOUD_SERVICE_ACCOUNT_FILE>"
abm_cluster_id                = "cluster1"
anthos_service_account_name   = "baremetal-gcr"
resources_path                = "./resources"
machine_type                  = "n1-standard-8"
instance_count                = {
                                  "controlplane" : 3
                                  "worker" : 2
                                }
#gce_vm_service_account       = "<GCE service account with iam.serviceAccountKeyAdmin permission>"
#nfs_server                   = true
#gpu                          = {
#                                 count = 1,
#                                 type = "nvidia-tesla-k80"
#                               }
