.DS_Store
terraform.tfvars
terraform.tfstate.backup
terraform.tfstate
.terraform.tfstate*
plan
.terraform.lock.hcl
.terraform*
cleanup.sh
.*.yaml
.debug.local.sh
.ssh-*
.env*
.temp/
plan.json
plan.tfplan
.vscode
