# See https://help.github.com/en/articles/about-code-owners
# for more info about CODEOWNERS file.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*                                 @GoogleCloudPlatform/anthos-dpe

# The samples specific to observability and monitoring should be reviewed by
# the Onyx GKE Observability team (go/onyx-observability)
/aws-logging-monitoring/          @GoogleCloudPlatform/onyx-gke-observability
/attached-logging-monitoring/     @GoogleCloudPlatform/onyx-gke-observability
/anthos-multi-cloud/		      @GoogleCloudPlatform/anthos-multicloud
/.github/                         @googleapis/cdpe-devplat