# See https://help.github.com/en/articles/about-code-owners
# for more info about CODEOWNERS file.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*                                 @GoogleCloudPlatform/anthos-dpe @yoshi-approver

# The samples specific to observability and monitoring should be reviewed by
# the Onyx GKE Observability team (go/onyx-observability)
/aws-logging-monitoring/          @GoogleCloudPlatform/onyx-gke-observability @yoshi-approver
/attached-logging-monitoring/     @GoogleCloudPlatform/onyx-gke-observability @yoshi-approver
/gmp-grafana-dashboards/          @GoogleCloudPlatform/onyx-gke-observability @yoshi-approver
/anthos-attached-clusters/        @GoogleCloudPlatform/anthos-multicloud @yoshi-approver
/anthos-multi-cloud/		  @GoogleCloudPlatform/anthos-multicloud @yoshi-approver
/anthos-bm-utils/		  @GoogleCloudPlatform/anthos-baremetal-eng @yoshi-approver
/anthos-bm-apigee/		  @GoogleCloudPlatform/app-mod-customer-engineers @yoshi-approver
