# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# stored at: /etc/systemd/system/

[Unit]
Description=Payments service of the Point of Sale Application
PartOf=pos.service
After=pos.service

[Service]
User=shabirmean
WorkingDirectory=/pos

Environment=PAYMENTS_PORT=8083
Environment=MYSQL_HOST=mysql-db
Environment=SPRING_PROFILES_ACTIVE=database
ExecStart=/pos/scripts/payments.sh
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=pos.service
