spec:
  authentication:
  - name: "google-identity"
    oidc:
      clientID: "{{ oidc_client_id }}"
      clientSecret: "{{ oidc_client_secret }}"
      cloudConsoleRedirectURI: "http://console.cloud.google.com/kubernetes/oidc"
      extraParams: "prompt=consent,access_type=offline"
      groupsClaim: 
      groupPrefix: 
      issuerURI: "https://accounts.google.com"
      kubectlRedirectURI: "http://localhost:1030/callback"
      scopes: "email"
      userClaim: "email"
      userPrefix: 
    proxy: 